<header class="main-header">
    <!-- Header Lower -->
    <div class="header-lower" [hidden]="globalService.activeRoute === 'dashboard'">
        <div class="container2">
            <div class="row">
                <div class="col-lg-12" >
                    <div class="inner-container flex justify-space align-center">
                        <!-- Logo Box -->
                        <div class="logo-box flex"  [hidden]="globalService.isSessionActive()">
                            <div class="logo"><a (click)="globalService.setRoute('home')"><img src="assets/images/logo/logo@2x.png"
                                        alt="" width="225" height="40"></a></div>
                        </div>
                        <div class="nav-outer flex align-center d-none d-md-flex" [hidden]="authService.isLogged()">
                            <!-- Main Menu -->
                            <nav class="main-menu show navbar-expand-md" >
                                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent" >
                                    <ul class="navigation clearfix">
                                        <li><a (click)="globalService.setRoute('home')">Inicio</a></li>
                                        <li><a (click)="globalService.setRoute('repair')">Reparaciones</a></li>
                                        <li><a (click)="globalService.setRoute('autoparts')">Autopartes</a></li>
                                        <li><a (click)="globalService.setRoute('shop')">Vehículos</a></li>
                                        <li><a (click)="globalService.setRoute('contact')">Contacto</a></li>
                                    </ul>
                                </div>
                            </nav>
                            <!-- Main Menu End-->
                        </div>
                        <div class="header-account flex align-center" [hidden]="authService.isLogged()">
                            <div class="search-mobie">
                                <a class="header-search-icon flex items-center justify-center">
                                    <i class="icon-autodeal-search search-icon fs-20"></i>
                                    <i class="icon-autodeal-plus search-icon fs-20"></i>
                                </a>
                                <div class="wd-find-select " >
                                    <form method="post">
                                        <div class="form-group-1 search-form form-style2 relative">
                                            <i class="icon-autodeal-search"></i>
                                            <input type="search" class="search-field" id="search-terms"
                                                placeholder="Busquedas..." value="" name="s" title="Search for"
                                                required="">
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- <a  class="header-favorite flex items-center justify-center">
                                <i class="icon-autodeal-favorite fs-18"></i>
                            </a> -->
                            <div class="register" [hidden]="authService.isLogged()">
                                <ul class="flex align-center">
                                    <li>
                                        <i class="fas fa-user-shield"></i>
                                    </li>
                                    <li class="">
                                        <a data-bs-toggle="modal"
                                            data-bs-target="#popup_bid">Administrar</a>
                                    </li>
                                  
                                
                                </ul>
                            </div>
                       
                        </div>

                        <div class="mobile-nav-toggler mobile-button"><span></span></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Lower -->

    <!-- Mobile Menu  -->
    <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <nav class="menu-box">
            <div class="nav-logo">
                <a ><img src="assets/images/logo/logo@2x.png" alt=""
                        width="197" height="48">
                </a>
                <ul class="navigation clearfix">
                    <li><a (click)="globalService.setRoute('home')">Inicio</a></li>
                    <li><a (click)="globalService.setRoute('repair')">Reparaciones</a></li>
                    <li><a (click)="globalService.setRoute('autoparts')">Autopartes</a></li>
                    <li><a (click)="globalService.setRoute('shop')">Vehículos</a></li>
                    <li><a (click)="globalService.setRoute('contact')">Contacto</a></li>
                </ul>
            </div>
            <div class="bottom-canvas d-none d-md-flex">
                <div class="login-box flex align-center">
                    <i class="icon-autodeal-user fs-20"></i>
                    <a data-bs-toggle="modal" data-bs-target="#popup_bid"
                        class="fw-7 font-2">Ingresar</a>
                </div>
                <div class="menu-outer"></div>
              
            </div>
        </nav>
    </div>
    <!-- End Mobile Menu -->

</header>