
<section class="loan-calculator inner-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading center">
                    <h2 class="text-color-1 wow fadeInUpSmall" data-wow-delay="0.2s"
                        data-wow-duration="1000ms"> Busquedas por tipo de vehiculo y marcas</h2>
                    <p class="text-color-1 wow fadeInUpSmall" data-wow-delay="0.2s"
                        data-wow-duration="1000ms">¿Estás buscando tu scooterbike ideal? O quieres vender tu viejo scooterbike por el mejor precio?
                        Scooterbike es el lugar para ti!</p>
                    <div class="btn-wrap wow fadeInUpSmall" data-wow-delay="0.2s"
                        data-wow-duration="1000ms">
                        <a (click)="global.setRoute('shop')" class="sc-button btn-svg">
                            <span>Ver todos los vehículos</span>
                            <i class="icon-autodeal-right2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-car-list2 tf-section3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="partner-slide3-wrap">
                    <div class="swiper partner-slide3 overflow-hidden">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/partner1.png"
                                            src="assets/images/partner/partner1.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Sedan</div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/partner2.png"
                                            src="assets/images/partner/partner2.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Hatchback</div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/partner3.png"
                                            src="assets/images/partner/partner3.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Pickup Truck</div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/partner4.png"
                                            src="assets/images/partner/partner4.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">SUV</div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/partner5.png"
                                            src="assets/images/partner/partner5.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Crossover</div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/partner6.png"
                                            src="assets/images/partner/partner6.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Minivan</div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/parner7.png"
                                            src="assets/images/partner/parner7.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Station wagon
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/parner8.png"
                                            src="assets/images/partner/parner8.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Convertible</div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/parner9.png"
                                            src="assets/images/partner/parner9.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Convertible</div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/parner10.png"
                                            src="assets/images/partner/parner10.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Convertible</div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/parner11.png"
                                            src="assets/images/partner/parner11.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Convertible</div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/parner12.png"
                                            src="assets/images/partner/parner12.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Convertible</div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/parner11.png"
                                            src="assets/images/partner/parner11.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Convertible</div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a (click)="global.setRoute('shop')" class="partner-item style-1">
                                    <div class="image">
                                        <img class="lazyload" data-src="assets/images/partner/parner12.png"
                                            src="assets/images/partner/parner12.png" alt="images">
                                    </div>
                                    <div class="content center">
                                        <div class="fs-16 fw-6 title text-color-2 font-2">Convertible</div>
                                        
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
