<section class="tf-banner style-1-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content relative z-2">
                    <div class="heading">
                        <h2 class="text-color-1">Confianza, calidad y velocidad en autopartes.
                            <br> En Delta Autos Invermax, ofrecemos una amplia gama de repuestos para todas las marcas.</h2>
                            <ul class="list-style-1" style="color: #FFF;">
                                <li><i class="icon-autodeal-check"></i> Garantía en cada producto</li>
                                <li><i class="icon-autodeal-check"></i> Asesoría personalizada</li>
                                <li><i class="icon-autodeal-check"></i> Entregas seguras y puntuales</li>
                            </ul>
                            <p class="text-color-1 fs-18 fw-4 lh-22 font">
                                Tu auto merece lo mejor. Nosotros lo tenemos.</p>
                    
                        <a (click)="globalService.setRoute('contact')" class="sc-button btn-svg">
                            <span>Contactanos</span>
                            <i class="icon-autodeal-next"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
