<!-- 
<section class="section-blog tf-section bg-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-section flex align-center justify-space flex-wrap gap-20">
                    <h2 class="wow fadeInUpSmall" data-wow-delay="0.2s" data-wow-duration="1000ms">Noticias para ayudarte a elegir tu auto</h2>
                    <a (click)="globalService.activeRoute = 'blog-grid'" class="tf-btn-arrow wow fadeInUpSmall" data-wow-delay="0.2s"
                        data-wow-duration="1000ms">Ver todo<i class="icon-autodeal-btn-right"></i></a>
                </div>
                <div class="swiper tf-sw-mobile" data-preview="3" data-tablet="2" data-mobile-sm="2" data-mobile="1" data-space-lg="30" data-space-md="15" data-space="15">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="blog-article-item style1 hover-img">
                                <div class="images img-style relative flex-none">
                                    <img class="lazyload" data-src="assets/images/blog/blog-5.jpg"
                                        src="assets/images/blog/blog-5.jpg" alt="images">
                                    <div class="date">28 de Enero, 2024</div>
                                </div>
                                <div class="content">
                                    <div class="sub-box flex align-center fs-13 fw-6">
                                        <a href="home04.html#" class="admin fw-7 text-color-2">Jerome Bell</a>
                                        <a href="home04.html#" class="category text-color-3">Primeras Impresiones</a>
                                    </div>
                                    <h3><a href="blog-detail.html">Prepárate para un Toyota Fortuner Diesel Mild-Hybrid...</a></h3>
                                    <p>El segmento de SUV de menos de 4 metros ha estado bastante activo en los últimos seis meses, con el lanzamiento de varios rediseños...</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-article-item style1 hover-img">
                                <div class="images img-style relative flex-none">
                                    <img class="lazyload" data-src="assets/images/blog/blog-3.jpg"
                                        src="assets/images/blog/blog-3.jpg" alt="images">
                                    <div class="date">28 de Enero, 2024</div>
                                </div>
                                <div class="content">
                                    <div class="sub-box flex align-center fs-13 fw-6">
                                        <a href="home04.html#" class="admin fw-7 text-color-2">Jerome Bell</a>
                                        <a href="home04.html#" class="category text-color-3">Primeras Impresiones</a>
                                    </div>
                                    <h3><a href="blog-detail.html">Prepárate para un Toyota Fortuner Diesel Mild-Hybrid...</a></h3>
                                    <p>El segmento de SUV de menos de 4 metros ha estado bastante activo en los últimos seis meses, con el lanzamiento de varios rediseños...</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-article-item style1 hover-img">
                                <div class="images img-style relative flex-none">
                                    <img class="lazyload" data-src="assets/images/blog/blog-2.jpg"
                                        src="assets/images/blog/blog-2.jpg" alt="images">
                                    <div class="date">28 de Enero, 2024</div>
                                </div>
                                <div class="content">
                                    <div class="sub-box flex align-center fs-13 fw-6">
                                        <a href="home04.html#" class="admin fw-7 text-color-2">Jerome Bell</a>
                                        <a href="home04.html#" class="category text-color-3">Primeras Impresiones</a>
                                    </div>
                                    <h3><a href="blog-detail.html">Prepárate para un Toyota Fortuner Diesel Mild-Hybrid...</a></h3>
                                    <p>El segmento de SUV de menos de 4 metros ha estado bastante activo en los últimos seis meses, con el lanzamiento de varios rediseños...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination3"></div>
                </div>
            </div>
        </div>
    </div>
</section> -->